@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
     --brown: #360c0c;
     --white: #fff;
     --brown-hover: #642b2b;
     --bg-brown: #fcfcfc;
     --orange: #ff914d;
     --orange-hover: #ff9e62;
     --grey: #bbb;
}
body {
     background-color: var(--bg-brown);
}